header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(320, 70%, 85%);
    border-radius: 1em;
}


header h1 {
    margin:0;
    opacity: 0.9;
}

.logo-img {
    max-width: 20em;
}

#connectionArea {
    width: 20em;
}